body {
  font-family: var(--ff);
  font-size: 16rem;
  margin: 0;
}
html {
  font-size: 1px;
  @include mobile {
    font-size: 0.9px;
  }
  @media (max-width: 375px) {
    font-size: 0.8px;
  }
}
.container {
  max-width: calc(1170rem + 40rem);
  padding: 0rem 20rem;
  margin-inline: auto;
  width: 100%;
}
