.doctors {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(370rem, 1fr));
  gap: 28rem;
  margin-bottom: 130rem;
  @include mobile {
    grid-template-columns: 1fr;
  }
}
.doctor {
  border-radius: 20px;
  background: var(--c-terciary);
  padding: 44rem 39rem 33rem 39rem;
  &__header {
    margin-bottom: 25rem;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 13rem;
  }

  &__img {
    flex-shrink: 0;
    width: 63rem;
    height: 63rem;
    border-radius: 50%;
    img {
        width: 100%;
        object-fit: cover;
        height: 100%;
        border-radius: 50%;
    }
  }

  &__info {
  }

  &__name {
    color: var(--c-paragraph);
    font-size: 20rem;
    font-weight: 600;
  }

  &__role {
    color: var(--c-text);
    font-size: 16rem;
    font-weight: 400;
  }

  &__about {
    color: var(--c-text);
    font-size: 16rem;
    font-weight: 400;
    margin-bottom: 28rem;
  }

  &__btn {
  }
}
